body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(172, 159, 211), rgb(172, 159, 211));
    overflow-x: hidden;
    

}

.boxDados {
    /* display: flex;
    justify-content: center; */
    color: rgba(255, 255, 255, 0.738);
    display: grid;
    place-items: center;
    /* Center both horizontally and vertically */
    height: 100vh;
    background-image: linear-gradient(rgb(250, 247, 255), rgb(172, 159, 211));
     
     

 







    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    
   */









}

.dados {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background-image: linear-gradient(rgb(49, 27, 146),rgb(69, 39, 160));
    
    box-shadow: 
    rgba(0, 0, 0, 0.35) 0px 16px 50px 2px, /* Bottom shadow */
    rgba(0, 0, 0, 0.35) 0px 20px 50px 2px; /* Top shadow */

    
     








}

@font-face {
    font-family: Roboto;
    src: url('font/roboto/Roboto-Thin.ttf');
}

h3 {
    font-family: Roboto
}

.navbar {
    font-family: Roboto
}

.alert {
    font-family: Roboto
}



/* //////AO MEXER COM PONINTEROVER E POINTERLEAVE
///// USAR pointer-events: none; E cursor: pointer; */

#btRegistrar{
    cursor: pointer;
    font-family: Roboto;
     
}

#btRegistrar img{
    pointer-events: none;
}

#modalClose{
    cursor: pointer;
    font-family: Roboto;
     
}

#modalClose img{
    pointer-events: none;
}








@font-face {
    font-family: RobotoBold;
    src: url('font/roboto/Roboto-Regular.ttf');
}

 
.alert {
    font-family: RobotoBold;
    font-size: small;
}



#actionButtons{
    background-color: rgb(244, 244, 244);
 }
 
 #actionButtons:hover{
    background-color: #d3d4d5;
 }

 



 @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }



  body button:hover{
    transform: scale(1.1);
  }


  #logo:hover{
    transform: scale(1.03);
  }


  #navTop{

    background-image: linear-gradient(rgb(49, 27, 146),rgb(69, 39, 160));

  }

  #dados{
    border: 0px solid;
    border-radius: 20px;
  }


  #navTop:hover{
    transform: scale(1.001);
  }


  /* #navBottom:hover{
    transform: scale(1.001);
  }
  */

  body h1:hover{
 
    transform: scale(1.03);
  }

   

  .navbar p{
    transition: transform 0.2s ease-in-out;
 }

  

 .navbar p:hover{
    transform: scale(1.05);
 }

 #navTop{
    transition: transform 0.01s ease-in-out;
  }

  #dados{
    transition: transform 0.3s ease-in-out;
  }

  #dados:hover{
    transform: scale(1.02)
  }

  #dados h3:hover{
    transform: scale(1.1)
  }

  #dados input:hover{
    transform: scale(1.01)
  }

  #dados input{
    transition: transform 0.2s ease-in-out;
  }


  #navBottom{
    transition: transform 0.2s ease-in-out;
  }


  #navBottom:hover{
    transform: scale(1.05);
  }

  h1{
    font-family: Robotobold;
  }

  .modal h1:hover{
    transform: scale(1);
  }
  
   


  #registro {
    display: flex;
    flex-direction: column; /* Stack text vertically */
    word-break: break-word; /* Enables breaking words */
    overflow-wrap: break-word; /* Ensures long words break */
    color: white; /* Text color */
    
    
    
  }
  
  #registro p{
   margin: 0%;
   padding: 0%;
    
    
  }

  .naoSei{
    display: flex;
    justify-content: flex-start;
    align-items: center;
     
  }




  @keyframes fadeOut {
    0% { opacity: 1; }
     
    100% { opacity: 0; }
  }

   

  #whiteLoadingPage {
    position: fixed; /* Make it cover the entire viewport */
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255); /* Semi-transparent */
    animation: fadeOut 1s;
    z-index: 9999;
      /* Ensure it covers other content */
}

  


